@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --foreground: 200 14% 10%;

    --card: 0 0% 100%;
    --card-foreground: 200 14% 10%;

    /* Bleu Nook #0B4D88 */
    --primary: 207 79% 29%;
    --primary-foreground: 200 30% 98%;

    --secondary: 200 20% 94%;
    --secondary-foreground: 200 14% 10%;

    --muted: 200 20% 94%;
    --muted-foreground: 200 8% 45%;

    /* Vert Frais / Vert Feuille */
    --accent: 124 45% 90%;
    --accent-foreground: 124 47% 16%;

    --destructive: 4 70% 50%;
    --destructive-foreground: 40 33% 98%;

    --border: 200 15% 89%;
    --input: 200 15% 89%;
    --ring: 207 79% 29%;

    --radius: 0.75rem;

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  }

  .dark {
    --background: 200 20% 9%;
    --foreground: 200 15% 95%;

    --card: 200 16% 13%;
    --card-foreground: 200 15% 95%;

    --primary: 207 60% 55%;
    --primary-foreground: 200 20% 10%;

    --secondary: 200 12% 18%;
    --secondary-foreground: 200 15% 95%;

    --muted: 200 12% 18%;
    --muted-foreground: 200 8% 65%;

    --accent: 124 30% 20%;
    --accent-foreground: 124 40% 92%;

    --destructive: 4 60% 45%;
    --destructive-foreground: 40 20% 95%;

    --border: 200 10% 22%;
    --input: 200 10% 22%;
    --ring: 207 60% 55%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
